body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.container {
  margin-right: 15px;
  margin-left: 15px;
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  display: inline-block;
}
@media screen and (min-width: 1600px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__span {
  color: #2196F3;
}

.instagram,
.linkedin {
  width: 20px;
  height: 20px;
}

.twitter {
  width: 20px;
  height: 20px;
}

.facebook {
  width: 20px;
  height: 20px;
}

.hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.portfolio {
  padding: 94px 0;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 768px) {
  .header {
    position: relative;
    height: 60px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .header__overlay {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
  }
}
.header__overlay.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__box {
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  color: #212121;
}

.header__menu--btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__menu--btn {
    display: none;
  }
}
.header__menu--btn .header__cross {
  display: none;
}
.header__menu--btn.is-open .header__cross {
  display: block;
}
.header__menu--btn.is-open .header__menu {
  display: none;
}
.header__menu--btn.is-open {
  z-index: 1;
}
.header__menu--btn:hover .header__menu, .header__menu--btn:hover .header__cross {
  fill: #2196F3;
  stroke: #2196F3;
}
.header__menu--btn.is-open {
  position: fixed;
  left: 0;
  margin-left: 88%;
}

.info {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 64px;
  }
}
.info__icon-mail {
  width: 14px;
  height: 10px;
}
.info__icon-tel {
  width: 10px;
  height: 14px;
}
@media screen and (max-width: 768px) {
  .info__icon-mail, .info__icon-tel {
    display: none;
  }
}
.info__mail, .info__tel {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (max-width: 768px) {
  .info__mail, .info__tel {
    font-size: 24px;
    line-height: 1.16;
    transition: font-size 500ms ease-in, line-height 500ms ease-in, color 500ms ease-in;
  }
}
.info__mail:hover, .info__tel:hover {
  color: #2196F3;
}
@media screen and (max-width: 768px) {
  .info__mail:hover, .info__tel:hover {
    font-size: 34px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 768px) {
  .info__item:first-child {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .nav__item {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.nav__link.nav__link--active {
  color: #2196F3;
}
.nav__link {
  color: #212121;
}
.nav__link:hover {
  color: #2196F3;
}

.socials-mobile {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .socials-mobile {
    display: none;
  }
}
.socials-mobile__item:not(:last-child)::after {
  content: "";
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0 10px;
}
.socials-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/hw8/images/hero-mobile.jpg");
  background-size: cover;
  height: 480px;
  background: linear-gradient(rgba(47, 48, 58, 0.4));
}
@media screen and (min-device-pixel-ration: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/hw8/images/hero-mobile@2x.jpg");
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: #2196F3;
  color: #FFFFFF;
}

.benefits {
  padding: 60px 0;
}
.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}
.benefits__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-color: #F5F4FA;
}
.benefits__icon {
  height: 70px;
  width: 70px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}
.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.team {
  padding: 60px 0;
  background-color: #F5F4FA;
}
.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.team__card {
  overflow: hidden;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
.team__card:not(:last-child) {
  margin-bottom: 30px;
}

.team__img {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}
.team__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.socials {
  margin-bottom: 24px;
  text-align: center;
}
.socials__link {
  display: inline-block;
  padding: 12px;
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  stroke: #afb1b8;
}
.socials__link:not(:last-child) {
  margin-right: 10px;
}
.socials__link:hover {
  fill: #2196F3;
  stroke: #2196F3;
}
.socials__icon {
  display: inline-block;
}

.clients {
  padding: 60px 0;
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.clients__position {
  display: flex;
  flex-wrap: wrap;
}
.clients__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 30px) / 2);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__box:nth-child(odd) {
  margin-right: 30px;
}
.clients__box:nth-last-child(n+3) {
  margin-bottom: 30px;
}
.clients__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  stroke: transparent;
}
.clients__box:hover {
  border-color: #2196F3;
}
.clients__box:hover .clients__logo {
  fill: #2196F3;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer__info {
  margin-bottom: 60px;
}
.footer__info--item {
  text-align: center;
}
.footer__info--item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__address, .footer__mail, .footer__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer__address {
  color: #FFFFFF;
}
.footer__address:hover, .footer__mail:hover, .footer__tel:hover, .footer__address:focus, .footer__mail:focus, .footer__tel:focus {
  color: #2196F3;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__socials {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}
.footer__link:not(:last-child) {
  margin-right: 10px;
}
.footer__icon {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.footer__form {
  text-align: center;
}
.footer__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
}
.footer__input::-moz-placeholder {
  display: inline-block;
  margin-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  display: inline-block;
  margin-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196F3;
  color: #FFFFFF;
}
.footer__input:focus {
  border-color: #2196F3;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  display: none;
}

.modal {
  position: absolute;
  width: 450px;
  height: 610px;
  padding: 8px 40px 40px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #FFFFFF;
}

.modal__btn--close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}
.modal__btn--icon {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
}
.modal__btn--close:hover .modal__btn--icon {
  fill: #2196F3;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__box {
  position: relative;
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.form__input:focus {
  border-color: #2196F3;
}
.form__input:focus + .form__icon {
  fill: #2196F3;
}

.form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:focus {
  border-color: #2196F3;
}

.form__politicy {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}
.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
}
.form__checkbox-icon {
  width: 15px;
  height: 10px;
}
.form__politicy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}
.form__link {
  text-decoration: underline;
  color: #2196F3;
}
.form__checkbox--hidden:checked + .form__checkbox {
  border-color: #2196F3;
  background-color: #2196F3;
}

.form__submit {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: #2196F3;
  color: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  .work-list {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */