.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    position: absolute;
    left: 0;
    top: 0;

    padding: 0 24px;

    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms linear;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;

    background: rgba(33, 150, 243, 0.9);
    color: $primary-color;
}

.card:hover .overlay {
    transform: translateY(0);
}