.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/images/hero-mobile.jpg");
    background-size: cover;
    height: 480px;
    background: (linear-gradient(rgba(47, 48, 58, 0.4)));


    @media screen and (min-device-pixel-ration: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url("/images/hero-mobile@2x.jpg");
    }

    // title

    &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em; 
    text-transform: uppercase;

    color: $primary-color;
    }
}