.colection {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.card {
    @media screen and (min-width: $tablet) {
        width: calc((100% - 30px) / 2);
    }
    &:nth-child(odd) {
        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            margin-right: 30px;
        }
    }
}